%h2
  %span.highlight Practice Phone Numbers

= link_to "Purchase a Number", new_practice_phone_number_path

- if @practice_phone_numbers.any?
  %table
    %thead
      %tr
        %th Name
        %th Phone Number
    %tbody
      - @practice_phone_numbers.each do |practice_phone_number|
        %tr
          %td= link_to practice_phone_number.name, practice_phone_number
          %td= practice_phone_number.phone_number
- else
  .div.flash.notice
    You don't have any practice phone numbers yet.
