.hero
  .hero-inner
    .hero-copy
      %h1 Call for Practice
      %p Practice your sales pitch by yourself, over the phone.
      %p Record responses and receive feedback.
      %p Make your sales calls more profitable.
