.hero
  .hero-inner
    .hero-copy
      %h1 Call for Practice
      %p Practice your sales pitch.
      %p By yourself.
      %p Over the phone.
      %p Save recordings for later.
      %p Share with colleagues.
