.hero
  .hero-inner
    .hero-copy
      %h1
        %span.benefit Call for Practice
      %p
        %span.benefit Practice your sales pitch.
      %p
        %span.benefit By yourself.
      %p
        %span.benefit Over the phone.
      %p
        %span.benefit Save recordings for later.
      %p
        %span.benefit Share with colleagues.
