.hero {
  $hero-background-top: darken($base-accent-color, 25);
  $hero-background-bottom: adjust-hue($hero-background-top, -70);
  $hero-color: black;
  $gradient-angle: 10deg;
  $hero-image: image-path("blurry_traffic_blue_2.jpg");

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);

  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding-bottom: 2em;

  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    padding: 3em;
    margin: auto;
    text-align: center;
    color: $hero-color;

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 1.4em;
        margin-bottom: .5em;
        font-weight: 800;

        span.benefit {
          background-color: yellow;
          padding-left: 4px;
          padding-right: 4px;
        }

        @include media($large-screen) {
          font-size: 3.0em;
          span.benefit {
            padding: auto 6px;
          }
        }
      }

      p {
        margin: auto;
        margin-bottom: 0.5em;
        font-weight: 600;
        line-height: 1.2em;
        font-size: 1.0em;

        span.benefit {
          background-color: white;
          padding-left: 4px;
          padding-right: 4px;
        }

        @include media($large-screen) {
          font-size: 1.4em;
          max-width: 60%;
        }
      }
    }
  }
}
