@import "bourbon";
@import "base/base";
@import "neat";

@import "centered-navigation";
@import "hero";
@import "footer";
@import "flashes";
@import "errors";
@import "forms";
@import "scenarios";
@import "prompts";
@import "practice_phone_numbers";
@import "tables";
@import "incoming_calls";
@import "responses";
@import "users";

.container {
  @include outer-container;
}

span.highlight {
  background-color: yellow;
  padding: 0px 4px;
}

@include media($large-screen) {
  h2 {
    font-size: $h2-font-size * 1.25;
  }
}
