%footer.footer-2
  %ul
    %li
      = link_to "Call for Practice", root_path

  .footer-secondary-links
    %ul
      %li
        %a{href: "javascript:void(0)"} Terms and Conditions
      %li
        %a{href: "javascript:void(0)"} Privacy Policy

    %ul.footer-social
      %li
        = link_to "https://twitter.com/callforpractice" do
          %img{src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png", alt: "Twitter"}
