%footer.footer-2
  %ul
    %li
      = link_to "Call for Practice", root_path

  .footer-secondary-links
    %ul
      %li= link_to "Terms and Conditions", terms_path
      %li=link_to "Privacy Policy", privacy_path

    %ul.footer-social
      %li
        = link_to "https://twitter.com/callforpractice" do
          %img{src: "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png", alt: "Twitter"}
